<a href="https://colab.research.google.com/github/lkarjun/Data-Science-from-Scratch/blob/master/Lars_Example.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Lars (Least Angle Regression)
LAR is a type of forward step-wise regression

https://projecteuclid.org/journals/annals-of-statistics/volume-32/issue-2/Least-angle-regression/10.1214/009053604000000067.full

My_notes
> https://github.com/lkarjun/course-notes/blob/main/Machine%20-Learning/LassoRegression.md#lar-least-angle-regression

In [5]:
from sklearn.linear_model import Lars
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd

In [2]:
def lars_reg(x_train, y_train, n_nonzero_coefs=4):
  model = Lars(n_nonzero_coefs=n_nonzero_coefs)
  model.fit(x_train, y_train)
  return model

In [9]:
df = pd.read_csv("/content/auto-mpg-processed.csv")
df.head(4)

    mpg  cylinders  displacement  horsepower  weight  acceleration  age
0  18.0          8         307.0         130    3504          12.0   49
1  15.0          8         350.0         165    3693          11.5   49
2  18.0          8         318.0         150    3436          11.0   49
3  16.0          8         304.0         150    3433          12.0   49

In [20]:
y = df.mpg

In [11]:
scaler = StandardScaler()
df_scaled = scaler.fit_transform(df.drop('mpg', axis=1))

In [17]:
df_scaled = pd.DataFrame(data = df_scaled, columns=df.drop('mpg', axis=1).columns)

In [19]:
df_scaled.head(4)

   cylinders  displacement  horsepower    weight  acceleration       age
0   1.483947      1.077290    0.664133  0.620540     -1.285258  1.625315
1   1.483947      1.488732    1.574594  0.843334     -1.466724  1.625315
2   1.483947      1.182542    1.184397  0.540382     -1.648189  1.625315
3   1.483947      1.048584    1.184397  0.536845     -1.285258  1.625315

In [21]:
x_train, x_test, y_train, y_test = train_test_split(df_scaled, y)

In [22]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((294, 6), (98, 6), (294,), (98,))

In [23]:
model = lars_reg(x_train, y_train)
predict = model.predict(x_test)

In [26]:
from sklearn.metrics import r2_score

In [27]:
r2_score(y_test, predict)

0.8134558555288217

## Hyper parameters

In [29]:
parms = [1, 2, 3, 4]
for i in parms:
  model = lars_reg(x_train, y_train, n_nonzero_coefs=i)
  predict = model.predict(x_test)
  print(r2_score(y_test, predict))
  print()

0.483222146273256

0.8160472402496752

0.8212388064184348

0.8134558555288217

In [30]:
model.active_

[3, 5, 4, 1]

In [31]:
model.coef_

array([ 0.        ,  0.85942448,  0.        , -6.32407904,  0.30065632,
       -2.67717028])