## t-SNE with mnist dataset

In [41]:
from sklearn.manifold import TSNE
from sklearn.datasets import load_digits

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [13]:
data = load_digits()

In [50]:
data_1000 = data.data[:1000, :]
label_1000 = data.target[:1000]
data_1000[2]

array([ 0.,  0.,  0.,  4., 15., 12.,  0.,  0.,  0.,  0.,  3., 16., 15.,
       14.,  0.,  0.,  0.,  0.,  8., 13.,  8., 16.,  0.,  0.,  0.,  0.,
        1.,  6., 15., 11.,  0.,  0.,  0.,  1.,  8., 13., 15.,  1.,  0.,
        0.,  0.,  9., 16., 16.,  5.,  0.,  0.,  0.,  0.,  3., 13., 16.,
       16., 11.,  5.,  0.,  0.,  0.,  0.,  3., 11., 16.,  9.,  0.])

In [51]:
model = TSNE()
tsne_data = model.fit_transform(data_1000)

In [83]:
df = pd.DataFrame(data=tsne_data, columns=('Dim1', 'Dim2'))
df.head(3)

        Dim1       Dim2
0 -30.142420  39.010490
1  -6.515481  -9.835927
2  12.332305 -11.270389

In [86]:
df['label'] = label_1000.T

In [92]:
df.sample(8)

          Dim1       Dim2  label
669  35.430779  10.305792      3
550 -37.273506   3.450357      6
507 -22.179764 -22.389647      4
646 -31.751205  37.674759      0
849  22.423552  17.942823      9
872  20.272526  -0.658026      8
946 -21.439157 -27.752415      4
57   12.223080 -11.499736      2