In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

# Data Loading

In [4]:
data = pd.read_csv('https://raw.githubusercontent.com/krishnaik06/Multiple-Linear-Regression/master/50_Startups.csv')
data.head()

   R&amp;D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

# Working with data

In [12]:
X = data.iloc[:, :-1]
y = data.iloc[:, 4]

In [13]:
states = pd.get_dummies(X['State'], drop_first=True)
X = X.drop('State', axis=1)
X = pd.concat([X, states], axis=1)

In [22]:
X.head()

   R&amp;D Spend  Administration  Marketing Spend  Florida  New York
0  165349.20       136897.80        471784.10        0         1
1  162597.70       151377.59        443898.53        0         0
2  153441.51       101145.55        407934.54        1         0
3  144372.41       118671.85        383199.62        0         1
4  142107.34        91391.77        366168.42        1         0

In [23]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

# Spliting trian test data

In [24]:
from sklearn.model_selection import train_test_split

In [26]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state=0)

# Model

In [27]:
from sklearn.linear_model import LinearRegression

In [28]:
regression = LinearRegression()

In [30]:
regression.fit(X_train, y_train)
y_prediction = regression.predict(X_test)

# R^2

In [43]:
from sklearn.metrics import r2_score

In [44]:
scores = r2_score(y_test, y_prediction)

In [45]:
print(scores)

0.9347068473282424