In [50]:
import sys
from typing import List
from pprint import pprint
sys.executable

'C:\\Users\\HP\\.virtualenvs\\data-science-kLkPvyWw\\Scripts\\python.exe'

In [4]:
import pandas as pd
import matplotlib.pyplot as plt

df = pd.read_csv("https://raw.githubusercontent.com/krishnaik06/K-NEarest-Neighbor/master/Classified%20Data", index_col=0)

In [5]:
df.head(3)

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ,TARGET CLASS
0,0.913917,1.162073,0.567946,0.755464,0.780862,0.352608,0.759697,0.643798,0.879422,1.231409,1
1,0.635632,1.003722,0.535342,0.825645,0.924109,0.648450,0.675334,1.013546,0.621552,1.492702,0
2,0.721360,1.201493,0.921990,0.855595,1.526629,0.720781,1.626351,1.154483,0.957877,1.285597,0

# Scaling

In [8]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(df.drop("TARGET CLASS", axis=1))
scaled_feature = scaler.transform(df.drop('TARGET CLASS', axis=1))
df_feat = pd.DataFrame(scaled_feature, columns=df.columns[:-1])
df_feat.head(2)

,WTT,PTI,EQW,SBI,LQE,QWG,FDJ,PJF,HQE,NXJ
0,-0.123542,0.185907,-0.913431,0.319629,-1.033637,-2.308375,-0.798951,-1.482368,-0.949719,-0.643314
1,-1.084836,-0.430348,-1.025313,0.625388,-0.444847,-1.152706,-1.129797,-0.202240,-1.828051,0.636759

# converting Numpy array, DataFrame to Python List

In [53]:
import numpy as np
feature = scaled_feature.tolist()
y = df['TARGET CLASS'].values.tolist()

# Data Merging

In [54]:
data = []
def fulldata(point: List, label: int):
    return LabeledPoint(point, label)

for i in range(len(feature)):
    data.append(fulldata(feature[i], y[i]))

pprint(data[:4])

[LabeledPoint(point=[-0.12354187670311241, 0.18590746555241652, -0.913430686329597, 0.3196291081134721, -1.0336368096256163, -2.308374695290923, -0.7989513486557496, -1.482368125137679, -0.9497194003652621, -0.6433142474855827], label=1),
 LabeledPoint(point=[-1.0848360150515468, -0.4303484497446077, -1.0253133311279146, 0.6253882555712356, -0.4448471290957587, -1.1527060378014131, -1.1297974870248584, -0.20224030656329256, -1.8280508804279874, 0.6367586205985802], label=0),
 LabeledPoint(point=[-0.7887021724477639, 0.33931820681682473, 0.3015113705642596, 0.755872788589638, 2.031692993005152, -0.8701561614645485, 2.599818438194297, 0.2857065223383153, -0.6824937855950657, -0.3778498642744331], label=0),
 LabeledPoint(point=[0.9828405020092567, 1.0601932667761926, -0.6213987545308169, 0.6252993752767466, 0.4528203408916122, -0.26722040539289343, 1.7502075562305932, 1.0664905220407028, 1.2413246266720814, -1.0269871139053046], label=1)]

# Train Test

In [25]:
from machineLearning import split_data

In [55]:
data_train, data_test = split_data(data, percentage=0.7)

In [57]:
assert len(data_test) == 300
assert len(data_train) == 700

# Using KNN

In [27]:
from knn import knn_classify, LabeledPoint