# list

In [2]:
x = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

print(x)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [4]:
x[:3]

[0, 1, 2]

In [5]:
x[:0]

[]

In [7]:
x[:-1]

[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [9]:
x[:3:1]

[0, 1, 2]

In [11]:
x[:3:-1]

[9, 8, 7, 6, 5, 4]

In [14]:
x[:3:-1]

[9, 8, 7, 6, 5, 4]

In [17]:
x[:3:1]

[0, 1, 2]

In [19]:
x[::2]

[0, 2, 4, 6, 8]

In [20]:
x[::-2]

[9, 7, 5, 3, 1]

In [21]:
x[:]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
x[2::-2]

[2, 0]

In [29]:
a = [1,2,3]
x.extend(a)

In [31]:
x

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 1, 2, 3]

In [40]:
g= [i 
    for i in x
    if i%2==0
   ]

In [45]:
x, y = [1, 2]

# Tuples

In [47]:
def sum_and_product(x, y):
    return (x+y), (x*y)

In [ ]:
sp = sum_and_product(4,5)
print(sp)
s, p = sum_and_product(4,5)
print(f's is : {s} p is : {p}')


# Dictionaries

In [54]:
grades = {"Joel": 80, "Tim": 95}
grades['Joel']

80

In [56]:
"joel" in grades

False

In [59]:
"Joel" in grades

True

In [71]:
grades.get("Joel", 0)

80

In [74]:
grades["Tim"] = 99

In [77]:
grades["Kate"] = 100

len(grades)

In [80]:
grades

{'Joel': 80, 'Tim': 99, 'Kate': 100}

In [83]:
tweet = {"user" : "joelgrus",
         "text" : "Data Science is Awesome",
         "retweet_count" : 100,
         "hashtags" : ["#data", "#science", "#datascience", "#awesome", "#yolo"] }

In [88]:
tweet_keys = tweet.keys()
tweet_values = tweet.values()
tweet_items = tweet.items()

In [91]:
"user" in tweet_keys
100 in tweet_values

True

In [107]:
documents = "As with strings and lists, there are several built-in methods that can be invoked on dictionaries. In fact, in some cases, the list and dictionary methods share the same name. In the discussion on object-oriented programming, you will see that it is perfectly acceptable for different types to have methods with the same name."

In [108]:
words_count = {}
for word in documents.split():
    if word in words_count:
        words_count[word] += 1
    else:
        words_count[word] = 1

In [ ]:
words_count

In [112]:
words = {} 
for word in documents.split():
    try:
        words[word] += 1
    except KeyError:
        words[word] = 1

In [114]:
words

{'As': 1,
 'with': 2,
 'strings': 1,
 'and': 2,
 'lists,': 1,
 'there': 1,
 'are': 1,
 'several': 1,
 'built-in': 1,
 'methods': 3,
 'that': 2,
 'can': 1,
 'be': 1,
 'invoked': 1,
 'on': 2,
 'dictionaries.': 1,
 'In': 2,
 'fact,': 1,
 'in': 1,
 'some': 1,
 'cases,': 1,
 'the': 4,
 'list': 1,
 'dictionary': 1,
 'share': 1,
 'same': 2,
 'name.': 2,
 'discussion': 1,
 'object-oriented': 1,
 'programming,': 1,
 'you': 1,
 'will': 1,
 'see': 1,
 'it': 1,
 'is': 1,
 'perfectly': 1,
 'acceptable': 1,
 'for': 1,
 'different': 1,
 'types': 1,
 'to': 1,
 'have': 1}

In [ ]:
wordsss = {}
for word in documents.split():
    previous_count = wordsss.get(word, 0)
    print(previous_count)
    wordsss[word] = previous_count + 1

In [ ]:
wordsss

# Defaultdict

In [123]:
from collections import defaultdict

In [125]:
word_counts = defaultdict(int)
for word in documents.split():
    word_counts[word] += 1

In [150]:
word_counts

defaultdict(int,
            {'As': 1,
             'with': 2,
             'strings': 1,
             'and': 2,
             'lists,': 1,
             'there': 1,
             'are': 1,
             'several': 1,
             'built-in': 1,
             'methods': 3,
             'that': 2,
             'can': 1,
             'be': 1,
             'invoked': 1,
             'on': 2,
             'dictionaries.': 1,
             'In': 2,
             'fact,': 1,
             'in': 1,
             'some': 1,
             'cases,': 1,
             'the': 4,
             'list': 1,
             'dictionary': 1,
             'share': 1,
             'same': 2,
             'name.': 2,
             'discussion': 1,
             'object-oriented': 1,
             'programming,': 1,
             'you': 1,
             'will': 1,
             'see': 1,
             'it': 1,
             'is': 1,
             'perfectly': 1,
             'acceptable': 1,
             'for': 1,
             'different': 1,
             'types': 1,
             'to': 1,
             'have': 1})

In [127]:
dd_list = defaultdict(list)

In [140]:
dd_list[1].append(2)

In [141]:
dd_list

defaultdict(list, {2: [1, 2], 1: [1, 2, 2]})

In [133]:
dd_dict = defaultdict(dict)

In [135]:
dd_dict["Lalkrishns"]["place"] = "Kozhikode"

In [136]:
dd_dict

defaultdict(dict, {'Lalkrishns': {'place': 'Kozhikode'}})

In [142]:
word = defaultdict(int)

In [146]:
word[1] = 3

In [149]:
word

defaultdict(int, {1: 3})

In [163]:
dd_pair = defaultdict(lambda: [0,0,0,0])

In [164]:
dd_pair[2][1] = 5

In [165]:
dd_pair

defaultdict(<function __main__.<lambda>()>, {2: [0, 5, 0, 0]})

# COUNTERs

In [170]:
from collections import Counter

In [172]:
a = Counter([1,2,3,45,5,3,2,4,1])

In [173]:
a

Counter({1: 2, 2: 2, 3: 2, 45: 1, 5: 1, 4: 1})

In [177]:
words_counts_ = Counter(documents.split())

In [178]:
words_counts_

Counter({'As': 1,
         'with': 2,
         'strings': 1,
         'and': 2,
         'lists,': 1,
         'there': 1,
         'are': 1,
         'several': 1,
         'built-in': 1,
         'methods': 3,
         'that': 2,
         'can': 1,
         'be': 1,
         'invoked': 1,
         'on': 2,
         'dictionaries.': 1,
         'In': 2,
         'fact,': 1,
         'in': 1,
         'some': 1,
         'cases,': 1,
         'the': 4,
         'list': 1,
         'dictionary': 1,
         'share': 1,
         'same': 2,
         'name.': 2,
         'discussion': 1,
         'object-oriented': 1,
         'programming,': 1,
         'you': 1,
         'will': 1,
         'see': 1,
         'it': 1,
         'is': 1,
         'perfectly': 1,
         'acceptable': 1,
         'for': 1,
         'different': 1,
         'types': 1,
         'to': 1,
         'have': 1})

In [180]:
for word, count in words_counts_.most_common(10):
    print(word, count)

the 4
methods 3
with 2
and 2
that 2
on 2
In 2
same 2
name. 2
As 1

In [184]:
stop = documents.split()
s = set(stop)

In [190]:
'the' in s

True

In [191]:
item_list = [1,2,3,4,1,3,4,2,2,1,]
len(item_list)

10

In [194]:
a = set(item_list)

In [195]:
len(a)

4

In [200]:
parity = 'even' if 4 % 2 == 0 else "odd"
parity

'even'

# Control flow

In [202]:
for x in range(10):
    if x == 3:
        continue
    if x == 5:
        break
    print(x)

0
1
2
4

In [210]:
set() is None

False

In [213]:
s = "lalkrishna"
if s:
    first_char = s[0]
    print(first_char)
else:
    first_char = ""
    print(first_char)

l

In [221]:
z = False
if z:
    print("because of True")
else:
    print("because of False")

because of False

In [216]:
first_char = s and s[0]

In [217]:
print(first_char)

l

In [228]:
a = z and False
print(a)

False

In [227]:
safe_x = x or 2
print(safe_x)

2

In [235]:
2%2==1 or "okay"

'okay'

In [241]:
all(["", 4, 2, [3,3,5,2]])

False

In [242]:
all([])

True

In [243]:
any([])

False

In [245]:
a = []
a is True

False

# Sorting

In [14]:
x = [5,6,2,1,5,8,1]
a = ['lalkrishna', 'arjun', 'hi', 'cc', 'dd', 'ff']
sorted(a, key=lambda a: a[1])

['lalkrishna', 'cc', 'dd', 'ff', 'hi', 'arjun']

In [21]:
g = [2, 4, 6, 7, 9]
sorted(g, key=lambda g: g%2==0)

[7, 9, 2, 4, 6]